<div class="_container">
  <div class="formulario">
    <div class="cadastro">
      <br>
      <h3>Brilhe nas competições<br> Cadastre-se, é de graça!</h3>
      <form>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" name="firstname" class="form-control" placeholder="nome..">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" name="lastname" class="form-control" placeholder="sobrenome..">
        </div>
        <div class="form-group">
          <label for="email">e-mail</label>
          <input type="email" name="email" class="form-control" placeholder="email@seuprovedor.com">
        </div>
        <div class="form-group">
          <label for="nome">Senha</label>
          <input type="password" name="password" class="form-control" placeholder="digite sua senha (6 ou mais caracteres)">
        </div>
        <br><p>
        Ao clicar em Cadastre-se você aceita o Contrato de
        Usuário e Termos de Condições de Uso.</p>

        <button type="submit" class="btn btn-warning" class="form-control">Cadastre-se agora</button>
      </form>
    </div>
  </div>
</div>
