._container{
  background: url('../../img/home-fundo.jpeg') ;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
}

.formulario {
  background-color: #2c3e50;
  width: 520px;
  height: auto;
  margin-left:35%;
  margin-bottom: 20%;
  position: relative;
  margin-top: 45px;
  overflow:visible;
  align-items: center;

}

.cadastro h3, p {
  text-align:center;
}

.cadastro input {
  width: 330px;
  height: 40px;
}

.cadastro {
  color: white;
  padding: 0 80px 40px 100px;
}

input[type="submit"] {
  border: none;
  background-color: #bdc581;
}
