<h3> Cadastro de evento:</h3>
<form [formGroup]="formularioEvento" (submit)="cadastrar($event)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nomeEvento">Nome do evento:</label>
            <input type="text" class="form-control" required autocomplete="off"
            name="nomeEvento" 
            formControlName="nomeEvento" 
            [(ngModel)]="evento.nomeEvento">
        </div>
        <div class="form-group col-md-6">
            <label for="dataEvento">Data:</label>
            <input type="datetime-local" class="form-control"
            name="dataEvento" 
            formControlName="dataEvento"
            [(ngModel)]="evento.dataEvento">
        </div>
    </div>
    <div class="form-group">
        <label for="descricaoEvento">Descricao do Evento:</label>
        <input type="text" class="form-control"
        name="descricaoEvento" 
        formControlName="descricaoEvento" 
        [(ngModel)]="evento.descricaoEvento">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="localEvento">Local:</label>
            <input type="text" class="form-control"
            name="localEvento" 
            formControlName="localEvento"
            [(ngModel)]="evento.localEvento">
        </div>
        <div class="form-group col-md-6">
            <label for="esporteEscolhidoEnum">Esporte:</label>
            <select [(ngModel)]="evento.esporteEscolhidoEnum"
            class="form-control"
            formControlName="esporteEscolhidoEnum" 
            class="form-control">
                <option value="BASQUETE">Basquete</option>
                <option value="FUTEBOL">Futebol</option>
                <option value="VOLEI_QUADRA">Volei de quadra</option>
                <option value="FUTSAL">Futsal</option>
                <option value="TENIS_QUADRA">Tenis de quadra</option>
                <option value="TENIS_MESA">Tenis de mesa</option>
            </select>
        </div>
    </div>
    <button class="btn btn-warning" type="submit">Cadastrar evento</button>
</form>