<form (click) = "cadastrar($event)">
    <div class="form-group">
        <label for="nomeEvento">Nome do evento:</label>
        <input type="text" name="nomeEvento" formControlName="nomeEvento" [(ngModel)]="evento.eventoNome">
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="descricaoEvento">Descricao do Evento:</label>
            <input type="text" name="descricaoEvento" formControlName="descricaoEvento" [(ngModel)]="evento.descricaoEvento">
        </div>
        <div class="form-group">
            <label for="dataEvento">Data do evento</label>
            <input type="date" name="dataEvento" formControlName="dataEvento" [(ngModel)]="evento.dataEvento">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="localEvento">Local</label>
            <input type="text" name="localEvento" formControlName="localEvento" [(ngModel)]="evento.localEvento">
        </div>
        <div class="form-group">
           <label for="esporteEscolhido">Esporte</label>
           <select [(ngModel)]="evento.esporteEscolhido"   name="esporteFavorito" class="form-control">
                <option value="BASQUETE">Basquete de quadra</option>
                <option value="FUTEBOL">Futebol</option>
                <option value="VOLEI">Vôlei de quadra</option>
                <option value="FUTSAL">Futsal</option>
                <option value="TENIS DE QUADRA">Tênis de quadra</option>
                <option value="TENIS DE MESA">Tênis de mesa</option>
            </select>
        </div>
    </div>
    <button type="submit">Cadastrar evento</button>
</form>
