<header class="top-bar">
  <div class="container">
    <div class="logo">
      <h1>&lt;SPORTRAP&gt;</h1>
    </div>
    <div class="login">
      <div><input [(ngModel)]="usuario.email" type="text" placeholder="e-mail"></div>
      <div><input [(ngModel)]="usuario.senha" type="password" placeholder="senha"></div>
      <div><input [routerLink] = "['home']" class="button" type="submit" value="ENTRAR" (click)="login()"></div>

    </div>

    <div class="recsenha">
      <a href="#">Esqueceu sua senha?</a>
    </div>
  </div>
</header>
